---
name: "Tags"
date: 2022-03-13T04:17:58.912Z
updated: 2022-03-13T04:17:58.933Z
tags: []
---

extends ../kennel/preamble.pug

block head
block main
  nav
    a(href="/") Home
  section
    h1 Explore tags:
    ul
      each key in Object.keys(collections).filter((key) => !['all', 'plants'].includes(key))
        li
          a(href="/tags/" + key.toLowerCase())
            span #{key}
block footer
